




    @media screen and (min-width: 360px) {
        .nav-link {
            font-family: "numans", sans-serif;
        }
        body {
            min-height: 10000px;
        }
        .home {
            margin-bottom: 30px;
        }
        
        
        .elementAwal {
            padding: 100px;
            margin-bottom: 50px;
            margin-top: 50px;
        }
        .Masjid {
            width: 150.000px;
            height: 150.000px;
            margin-left: 80px;
            margin-top: -200px;
        }
        .himpunan {
            margin-top: 30px;
            font-family: 'Lalezar', cursive;
            font-size: 30px;
            color: #0f2635;
            margin-left: -80px;
        }
        .him2 {
            font-family: 'Lalezar', cursive;
            margin-top: -15px;
            font-size: 30px;
            color: #0f2635;
            margin-left: -80px;
        }
        .nama {
            font-family: 'Numans', sans-serif;
            margin-top: -15px;
            font-size: 15px;
            color: #0f2635;
            margin-left: -80px;
        }
        
        
        
        
        
        #Hadist {
            background-color: #0f2635;
            margin-top: -40px;
        }
        #Hadist h4 {
            color: white;
            font-size: 10px;
            text-align: justify;
            margin-right: 25px;
            margin-top: 40px;
        }
        
        .ibadah {
            width: 30px;
            height: 30px;
            margin-right: 20px;
            margin-left: 30px;
            margin-top: 40px;
        }
        .gelombangBawah {
            margin-bottom: -10px;
        }
        
        
        
        
        /* Tujuan */
        #Tujuan h2 {
            margin-top: 50px;
            font-family: 'Lalezar', cursive;
            font-size: 18px;
        }
        
        .bp {
            font-size: 12px;
            margin-left: 15px;
            margin-right: 15px;
        }
        
        .bp p span {
            font-weight: bolder;
            margin-top: 20px;
        }
        
        
        
        
        
        
            /* Khitan */
            #Khitan {
                background-color: rgb(238, 238, 238);
                margin-top: 70px;
            }
            #Khitan img {
                width: 300px;
                height: 300px;
                margin-bottom: 15px;
            }
            #Khitan .row {
                padding: 15px;
            }
            #Khitan p span {
                font-weight: bolder;
            }
            #Khitan h1 {
                font-family: 'Lalezar', cursive;
                font-size: x-large;
            }
            .tombol {
                padding-bottom: 50px;
            }
            .sponsorship {
                margin-top: 10px;
            }
        
        
        
        
        
            /* Tagline */
            .rowTagline {
                margin-top: 80px;
                margin-left: 15px;
                margin-right: 15px;
            }
            .tagline {
                font-family: 'Lalezar', cursive;
                font-size: 35px;
            }
            .tagline2 {
                font-family: 'Lalezar', cursive;
                margin-top: -15px;
                font-size: 35px;
            }
            .PRemaja {
                margin-top: 5px;
                font-family: 'Numans', sans-serif;
                font-size: 13px;
            }
        
        
        
            /* Jadwal */
            #jadwal {
                margin-top: 30px;
                background-color: #0f2635;
        
            }
            #jadwal img {
                width: 10px;
                height: 10px;
                margin-right: 10px;
            }
            .pJadwal {
                color: rgb(255, 255, 255);
                margin-left: 20px;
                margin-top: -3px;
                font-size: 11px;
                font-family: 'Numans', sans-serif;
            }
            .hariJadwal {
                font-family: 'Numans', sans-serif;
                margin-bottom: 10px;
                color: white;
                font-size: 14px;
            }
            .rowJadwal {
                padding-top: 50px;
                margin-left: 15px;
            }
            .rowJadwal2 {
                margin-left: 15px;
            }
            .catatan {
                margin-left: 15px;
                margin-top: 50px;
                padding-bottom: 50px;
            }
            .catatan p {
                color: #d5e91f;
                font-family: 'Numans', sans-serif;
                font-size: 11px;
                margin-right: 15px;
                margin-top: -3px;
            }
    }





/* ======================================================================================= */







@media screen and (min-width: 375px) {
    #Khitan img {
        width: 100%;
        height: 350px;
        margin-bottom: 15px;
    }
}









/* ======================================================================================= */





/* IP 6 plus or other */
@media screen and (min-width: 414px) {
    .elementAwal {
        padding: 100px;
        margin-bottom: 180px;
        margin-top: 80px;
    }
    .Masjid {
        width: 150.000px;
        height: 150.000px;
        margin-left: 115px;
        margin-top: -200px;
    }
    .himpunan {
        margin-top: 30px;
        font-family: 'Lalezar', cursive;
        font-size: 30px;
        color: #0f2635;
        margin-left: -80px;
    }
    .him2 {
        font-family: 'Lalezar', cursive;
        margin-top: -15px;
        font-size: 30px;
        color: #0f2635;
        margin-left: -80px;
    }
    .nama {
        font-family: 'Numans', sans-serif;
        margin-top: -15px;
        font-size: 15px;
        color: #0f2635;
        margin-left: -80px;
    }
    
    
    
    
    
    #Hadist {
        background-color: #0f2635;
        margin-top: -40px;
    }
    #Hadist h4 {
        color: white;
        font-size: 10px;
        text-align: justify;
        margin-right: 25px;
        margin-top: 40px;
    }
    
    .ibadah {
        width: 30px;
        height: 30px;
        margin-right: 20px;
        margin-left: 30px;
        margin-top: 40px;
    }
    .gelombangBawah {
        margin-bottom: -10px;
    }
    
    
    
    
    /* Tujuan */
    #Tujuan h2 {
        margin-top: 50px;
        font-family: 'Lalezar', cursive;
        font-size: 18px;
    }
    
    .bp {
        font-size: 12px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .bp p span {
        font-weight: bolder;
        margin-top: 20px;
    }
    
    
    
    
    
    
        /* Khitan */
        #Khitan {
            background-color: rgb(238, 238, 238);
            margin-top: 70px;
        }
        #Khitan img {
            width: 353px;
            height: 353px;
            margin-bottom: 15px;
        }
        #Khitan .row {
            padding: 15px;
        }
        #Khitan p span {
            font-weight: bolder;
        }
        #Khitan h1 {
            font-family: 'Lalezar', cursive;
            font-size: x-large;
        }
        .tombol {
            padding-bottom: 50px;
        }
        .sponsorship {
            margin-top: 10px;
        }
    
    
    
    
    
        /* Tagline */
        .rowTagline {
            margin-top: 80px;
            margin-left: 15px;
            margin-right: 15px;
        }
        .tagline {
            font-family: 'Lalezar', cursive;
            font-size: 40px;
        }
        .tagline2 {
            font-family: 'Lalezar', cursive;
            margin-top: -15px;
            font-size: 40px;
        }
        .PRemaja {
            margin-top: 5px;
            font-family: 'Numans', sans-serif;
            font-size: 13px;
        }
    
    
    
        /* Jadwal */
        #jadwal {
            margin-top: 30px;
            background-color: #0f2635;
    
        }
        #jadwal img {
            width: 10px;
            height: 10px;
            margin-right: 10px;
        }
        .pJadwal {
            color: rgb(255, 255, 255);
            margin-left: 20px;
            margin-top: -3px;
            font-size: 11px;
            font-family: 'Numans', sans-serif;
        }
        .hariJadwal {
            font-family: 'Numans', sans-serif;
            margin-bottom: 10px;
            color: white;
            font-size: 14px;
        }
        .rowJadwal {
            padding-top: 50px;
            margin-left: 15px;
        }
        .rowJadwal2 {
            margin-left: 15px;
        }
        .catatan {
            margin-left: 15px;
            margin-top: 50px;
            padding-bottom: 50px;
        }
        .catatan p {
            color: #d5e91f;
            font-family: 'Numans', sans-serif;
            font-size: 11px;
            margin-right: 15px;
            margin-top: -3px;
        }
}






/* ======================================================================================= */





/* Dekstop */
@media (min-width: 992px) {
    /* Jumbotron */
            .background {
                background-color: rgb(255, 255, 255);
            }
            .navbar-nav {
                margin-top: 15px;
            }
            .nav-link:hover::after {
                content: '';
                display: block;
                border-bottom: 3px solid #0f2635;
                border-radius: 50px;
                width: 50%;
                margin: auto;
                padding-bottom: 3px;
                margin-bottom: -6px;
        
            }
            .nav-item {
                margin-left: 50px;
                font-weight: bold;
            }
            .elementAwal {
                padding: 100px;
                margin-top: -30px;
            }
            .Masjid {
                width: 350.000px;
                height: 350.000px;
                margin-left: 150px;
                margin-top: 20px;
            }
            .himpunan {
                margin-top: 100px;
                font-family: 'Lalezar', cursive;
                font-size: 70px;
                color: #0f2635;
            }
            .him2 {
                font-family: 'Lalezar', cursive;
                margin-top: -15px;
                font-size: 70px;
                color: #0f2635;
            }
            .nama {
                font-family: 'Numans', sans-serif;
                margin-top: -15px;
                font-size: 40px;
                color: #0f2635;
                margin-left: -80px;
            }
    /* Akhir Jumbotron */




    /* Hadist */
            .elementKedua {
                margin-bottom: 50px;
            }
            .ibadah {
                width: 80px;
                height: 80px;
                margin-right: 50px;
                margin-top: -10px;
                margin-bottom: 80px;
            }
            #Hadist h4 {
                font-size: 20px;
                text-align: justify;
                padding-right: 200px;
                margin-top: -5px;
            }
            .gelombangBawah {
                margin-top: -120px;
            }
    /* Hadist */




     /* Tujuan */
            #Tujuan h2 {
                font-family: 'Lalezar', cursive;
                font-size: 40px;
                margin-bottom: 60px;
            }
            .bp {
                font-size: 15px;
                margin-left: 15px;
                margin-right: 15px;
                margin-bottom: 60px;
            }
            




    /* Khitan */
            #Khitan img {
                width: 467px;
                height: 467px;
                margin-right: 40px;
                margin-bottom: 70px;
            }
            #Khitan h1 {
                font-family: 'Lalezar', cursive;
                font-size: xx-large;
                margin-top: 50px;
            }
            .a{
                font-size: large;
                margin-top: 120px;
            }
            .comingSoonP {
                font-size: large;
            }


    

    /* Tagline */
            .rowTagline {
                margin-top: 150px;
                margin-left: 70px;
                margin-right: 70px;
            }
            .tagline {
                font-family: 'Lalezar', cursive;
                font-size: 40px;
            }
            .tagline2 {
                font-family: 'Lalezar', cursive;
                margin-top: -15px;
                font-size: 40px;
            }
            .PRemaja {
                margin-top: 15px;
                font-family: 'Numans', sans-serif;
                font-size: 17px;
            }



    /* Jadwal */
            #jadwal {
                margin-top: 70px;
                background-color: #0f2635;

            }
            #jadwal img {
                width: 10px;
                height: 10px;
                margin-right: 10px;
            }
            .pJadwal {
                color: rgb(255, 255, 255);
                margin-left: 20px;
                margin-top: -8px;
                font-size: 13px;
                font-family: 'Numans', sans-serif;
            }
            .hariJadwal {
                font-family: 'Numans', sans-serif;
                margin-bottom: 10px;
                color: white;
                font-size: 25px;
            }
            .rowJadwal {
                padding-top: 140px;
                margin-left: 80px;
            }
            .rowJadwal2 {
                margin-top: 50px;
                margin-left: 80px;
            }
            .catatan {
                margin-left: 90px;
                margin-top: 50px;
                padding-bottom: 140px;
            }
            .catatan p {
                color: #d5e91f;
                font-family: 'Numans', sans-serif;
                font-size: 13px;
            }
     
}

